button:hover,
button:focus,
li:hover,
li:focus {
    // background: whitesmoke;
    box-shadow: 0.2em 0.2em 0.2em grey;
}

li:hover,
li:focus {
    background-color: rgb(19, 117, 150);
    border: outset 0.2em rgb(19, 117, 150);
}