@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
    font-family: 'Alfa Slab One', cursive;
}

h1 {
    font-size: 26px
}

h2,
label {
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
}

button {
    font-size: 25px;
}

label {
    font-size: 20px;
}