footer {
    text-align: center;
    background-color: grey;
    padding: 0.2em;
}

footer .social li {
    display: inline;
    background-color: grey;
    border: 0;
}

footer ul {
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}